* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    background: #0D4D55;  /* Background color */
    padding: 1rem 0;
    text-align: center;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    color: white;
}

/* Website title */
.navbar h1 {
    font-size: 24px;
    color: white;
}

.navbar span {
    color: yellow;  /* Highlighted color */
}

/* Navigation links */
.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s;
}

/* Hover effect */
.navbar ul li a:hover {
    background: yellow;
    color: black;
    border-radius: 5px;
}

/*Footer*/
footer{
    background: rgb(13, 77, 85);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.socialmedia1 ul {
    display: flex;
    flex: 1 1 26rem;
    list-style: none;
    justify-content: space-between;
    padding-top: 4rem;
}
